:root{
  --tin-white: #fafffe;
  --sunny-overlay: #8f5300;
  --sunny-tint: #ba7800;
  --sec-sunny-tint: #5a3b02;
  --line-tint: #8d8c8cf5;
  --line-text: #adabab;
}

body {
  overflow-y: scroll;
  overflow-y: overlay;
  scroll-behavior: smooth;  
}
.App{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
h1{
  color: var(--tin-white);
  font-size: 1rem;
  font-weight: 400;
  position: absolute;
  top: 3rem;
  left: 4rem;
}


/* small laptops */
/* small laptops */
/* small laptops */
/* small laptops */
@media screen and (max-width: 1280px) {
    
}

/* smaller laptops and big tablets */
/* smaller laptops and big tablets */
/* smaller laptops and big tablets */
/* smaller laptops and big tablets */

@media screen and (max-width: 1024px) {
  
}

/* tablets */
/* tablets */
/* tablets */
/* tablets */

@media screen and (max-width: 860px) {
  

  h1{
    top: 2rem;
    left: 1.5rem;
  }
}

/* Phones */
/* Phones */
/* Phones */
/* Phones */

@media screen and (max-width: 576px) {
  
}