.error_container{
    /* width: 20rem; */
    width: 70vw;
    height: 100vh;
    position: relative;
}

.error_container div{
    background-color: var(--tin-white);
    box-shadow: 1px 1px 20px black;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 10rem;
    display: flex;
    padding: 5rem;
    justify-content: center;
    align-items: center;
    
}
.error_container div p{
    text-align: center;
    font-size: 1.5rem;
    color: var(--sunny-tint);
    font-weight: 600;
}

/* small laptops */
/* small laptops */
/* small laptops */
/* small laptops */
@media screen and (max-width: 1280px) {
    
}

/* smaller laptops and big tablets */
/* smaller laptops and big tablets */
/* smaller laptops and big tablets */
/* smaller laptops and big tablets */

@media screen and (max-width: 1024px) {
  
    .error_container div{
        margin: 15rem 5rem;
        padding: 2rem;
        
    }

    .error_container div p{
        font-size: 1rem;
    }

}

/* tablets */
/* tablets */
/* tablets */
/* tablets */

@media screen and (max-width: 860px) {
  
}

/* Phones */
/* Phones */
/* Phones */
/* Phones */

@media screen and (max-width: 576px) {
  
}