.back_container{
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}

.back_container img{
    height: 100%;
    width: 100%;
    filter: brightness(20px);
}

.back_container video{
    /* height: 100%; */
    width: 100%;
}

/* small laptops */
/* small laptops */
/* small laptops */
/* small laptops */
@media screen and (max-width: 1280px) {
    
  }
  
  /* smaller laptops and big tablets */
  /* smaller laptops and big tablets */
  /* smaller laptops and big tablets */
  /* smaller laptops and big tablets */
  
  @media screen and (max-width: 1024px) {
    
  }
  
  /* tablets */
  /* tablets */
  /* tablets */
  /* tablets */
  
  @media screen and (max-width: 860px) {
    
  }
  
  /* Phones */
  /* Phones */
  /* Phones */
  /* Phones */
  
  @media screen and (max-width: 576px) {
    
  }

